@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300;400;600;700;800&display=swap');
;
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

body {background-color: rgb(255, 250, 250); font-family: 'Blinker', sans-serif; }
#wrap, #header_wrap, #contents_wrap, #footer_wrap {width: 100%;}
/* 헤더 */
#header_wrap {box-shadow: 0 2px 5px 2px rgb(230, 230, 230); 
    position: fixed; top: 0; left: 0; background: #fff; z-index: 15;}
#gnb  {display: flex; align-items: center; justify-content: flex-end; height: 80px;}
#gnb li {margin-right: 20px;}
/* 사이드네비 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    box-shadow: 0px -2px 5px 1px rgb(230,230,230); 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #171717;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.container {padding-top: 80px;}
/* 메인 배너 */
#main {width: 100%; height:600px; position: relative; }
#main .fixed {z-index: 5; position: fixed; top: 80px; left: 0; width: 1920px; height: 600px; overflow: hidden;}
#black {background: #171717; color: #fff; font-weight: 700; font-size: 3em;
    transform: rotate(35deg); position: fixed; width: 1000px; text-align: right;
    margin: 100px 0 0 1050px;}
#white {background: rgb(236, 235, 235); color: #171717; font-weight: 700; font-size: 3em;
    transform: rotate(-25deg); position: fixed; width: 1300px; text-align: right;
    margin:430px 0 0 900px;}

#main > .main_text {width: 100%; height: 600px;
    z-index: 5; position: fixed; top:0; left:0;}
.b_text {padding: 200px 0 0 30px; font-weight: 200; font-size: 40px; 
    position: relative;}
.b_text:before {content: ''; width: 400px; height: 40px; background: rgba(255, 255, 0, 0.7);
    position: absolute; top: 210px; left: 20px; z-index: -1; }
.s_text {padding-left: 30px; font-weight: 500;}
.go {z-index: 99999; position:fixed; bottom: 30%; left:50%; transform: translate(-50%,-50%);
    animation: go 2s linear 0s infinite; font-size: 1.5em;}

    @keyframes go {
    0%{bottom:33%}
    50%{bottom: 30%;}
    100%{bottom: 33%;}
    }   

/* 컨텐츠랩-포트폴리오 */
#contents_wrap {background: #fff; padding: 50px 0;  border-radius: 25px 25px 0 0;
    box-shadow: 0px -2px 5px 1px rgb(175, 174, 174);
    z-index: 10; position: relative;}
.contents_box {width:98%; margin: 0 auto; 
    display: flex; flex-wrap: wrap; 
    border-left: 1px solid rgb(224, 224, 224); border-bottom: 1px solid rgb(224, 224, 224)}
.contents_box .content1 {width: 25%; height: 250px; box-sizing: border-box; 
    border-top: 1px solid rgb(224, 224, 224); border-right: 1px solid rgb(224, 224, 224);
    display: flex; justify-content: center; align-items: center;
    font-size: 1.3em; font-weight: 300; }
.contents_box .content1   *{transition: all 0.5s ease-in-out;}
.title {position: relative; overflow: hidden;}
.title:after {
    content: '';
    position: absolute; top: 0; left: 0; transform: translatey(-50%);
    width: 100%; height: 30px;
    background-color: rgba(149, 248, 145, 0.7);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    z-index: -1;
}
/* Slide in */
.title:after {
	opacity: 0;
	transform: translate3d(-100%, 0, 0);
}
.contents_box .content1:hover .title:after{
    opacity: 1;
	transform: translate3d(0, 0, 0);
}



/* 푸터 */
#footer_wrap {background: #fff; }
#footer_wrap p {padding: 10px 30px; font-size: 14px;}


@media (max-width:1200px) {
    #black {margin: 100px 0 0 750px;}
    #white {margin:430px 0 0 400px;}
}

@media (max-width:1000px) {
    #black, #white {display: none;}
}

@media (max-width:768px) {
    #gnb {height: 50px;}
    #gnb .full {display: none;}
    .container {padding-top: 50px;}
    #main, #main .fixed, #main .main_text {height: 400px;}
    #main .fixed, #main .main_text {top: 50px;}
    .b_text {padding: 150px 0 0 30px;}
    .b_text:before {top: 160px;}
    .go {z-index: 99999; position:fixed; bottom: 35%; left:50%;}
    @keyframes go {
        0%{bottom:38%}
        50%{bottom: 35%;}
        100%{bottom: 38%;}
        }
    .contents_box {width:100%; border-left: 0;}
    .contents_box > .content1 {width: 50%;}
    .contents_box.content1:nth-child(2n) {border-right: 0;}
}

@media (max-width:375px) {
    .contents_box > .content1 {height: 160px; font-size: 1em;}
    #footer_wrap p {padding: 10px 10px; font-size: 0.75em;}
}